﻿@using System.Web.Optimization;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div>
    <div ng-app="app">

        <div ng-controller="appController as vm" style="padding-top: 50px; display:none;" ng-style="{display: ''}">

            <div ng-if="!vm.loginInfo" class="text-center container">
                <div style="width: 400px; margin: auto;">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2>Ubisoft Login</h2>
                        </div>
                        <div class="panel-body">
                            <form name="formLogin" ng-submit="vm.persistLogin()">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username" ng-model="vm.username" required />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" ng-model="vm.password" required />
                                </div>

                                <button type="submit" class="btn btn-primary btn-block" ng-disabled="formLogin.$invalid">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="vm.loginInfo" class="container">

                <div class="panel panel-success row">
                    <form name="gtForm" ng-submit="vm.addGamertag()" style="padding: 30px;" class="col-md-4">
                        <div class="form-group">
                            <input class="form-control" type="text" ng-model="vm.gamerTag" required placeholder="Gamertag" autofocus />
                        </div>

                        <div class="form-group">
                            <select ng-options="platform as platform.name for platform in vm.platforms" ng-model="vm.selectedPlatform" class="form-control"></select>
                        </div>

                        <button type="submit" class="btn btn-primary" ng-disabled="gtForm.$invalid">Search Gamertag</button>
                    </form>
                    <div class="col-md-8">
                        <div class="col-md-3" ng-repeat="tag in vm.knownTags | orderBy: 'gamertag'" style="padding: 5px;">
                            <button ng-click="vm.addSpecific(tag.gamertag, tag.platform)" class="btn-block btn btn-success btn-lg">{{tag.gamertag}}</button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive" ng-if="vm.gamers.length">
                    <div class="form-group">
                        <label>View:</label>
                        <select ng-options="mode as mode for mode in vm.modes" ng-model="vm.selectedMode" class="form-control"></select>
                    </div>

                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2"></th>
                                <th ng-repeat="tag in vm.gamers" style="border-bottom: none;" class="text-center">
                                    {{tag.gamertag}}

                                    <button type="button" class="btn btn-secondary btn-sm fa fa-times pull-right" ng-click="vm.removeGamertag(tag)"></button>
                                </th>
                            </tr>
                            <tr>
                                <th ng-repeat="tag in vm.gamers" style="border-top: none;" class="text-center">
                                    <span class="fa fa-spinner fa-spin " ng-if="tag.loading"></span>
                                    <span class="fa fa-close text-danger" ng-if="!tag.loading && !tag.success"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th colspan="{{vm.gamers.length + 1}}">
                                    CASUAL
                                </th>
                            </tr>
                            <tr ng-repeat="(k, v) in (vm.gamers | where: {success: true} | first).stats">
                                <td>{{k}}</td>
                                <td ng-repeat="tag in vm.gamers">

                                    <div ng-switch="vm.selectedMode">
                                        <div ng-switch-when="total">
                                            <span ng-bind="tag.stats[k]" ng-if="!(tag.stats[k] | number)"></span>
                                            <span ng-bind="tag.stats[k] | number" ng-if="tag.stats[k]  | number"></span>
                                        </div>
                                        <div ng-switch-when="hourly">
                                            <span ng-if="tag.stats[k] | isNumber">{{(tag.stats[k] / tag.stats.Playtime) | number:2}} per hour</span>
                                            <span ng-if="!(tag.stats[k] | isNumber)">&mdash;</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th colspan="{{vm.gamers.length + 1}}">
                                    RANKED
                                </th>
                            </tr>
                            <tr ng-repeat="(k, v) in (vm.gamers | where: {success: true} | first).rankedStats">
                                <td>{{k}}</td>
                                <td ng-repeat="tag in vm.gamers">
                                    <div ng-switch="vm.selectedMode">
                                        <div ng-switch-when="total">
                                            <span ng-bind="tag.rankedStats[k]" ng-if="!(tag.rankedStats[k] | number)"></span>
                                            <span ng-bind="tag.rankedStats[k] | number" ng-if="tag.rankedStats[k]  | number"></span>
                                        </div>
                                        <div ng-switch-when="hourly">
                                            <span ng-if="tag.rankedStats[k] | isNumber">{{(tag.rankedStats[k] / tag.rankedStats.Playtime) | number:2}} per hour</span>
                                            <span ng-if="!(tag.rankedStats[k] | isNumber)">&mdash;</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th colspan="{{vm.gamers.length + 1}}">
                                    GENERAL
                                </th>
                            </tr>
                            <tr ng-repeat="(k, v) in (vm.gamers | where: {success: true} | first).generalStats">
                                <td>{{k}}</td>
                                <td ng-repeat="tag in vm.gamers">
                                    <div ng-switch="vm.selectedMode">
                                        <div ng-switch-when="total">
                                            <span ng-bind="tag.generalStats[k]" ng-if="!(tag.generalStats[k] | isNumber)"></span>
                                            <span ng-bind="tag.generalStats[k] | number" ng-if="tag.generalStats[k]  | isNumber"></span>
                                        </div>
                                        <div ng-switch-when="hourly">
                                            <span ng-if="tag.generalStats[k] | isNumber">{{(tag.generalStats[k] / (tag.stats.Playtime + tag.rankedStats.Playtime)) | number:2}} per hour</span>
                                            <span ng-if="!(tag.generalStats[k] | isNumber)">&mdash;</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>

    </div>

</div>

@section scripts{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-ui")

    @Scripts.Render("~/bundles/Modules")
    @Scripts.Render("~/bundles/Config")
    @Scripts.Render("~/bundles/Repositories")
    @Scripts.Render("~/bundles/Services")
    @Scripts.Render("~/bundles/Providers")

    @Scripts.Render("~/bundles/Controllers")
    @Scripts.Render("~/bundles/Directives")
}